@font-face {
  font-family: 'prebe-font';
  src:  url('../fonts/prebe-font.eot?c93yjq');
  src:  url('../fonts/prebe-font.eot?c93yjq#iefix') format('embedded-opentype'),
    url('../fonts/prebe-font.ttf?c93yjq') format('truetype'),
    url('../fonts/prebe-font.woff?c93yjq') format('woff'),
    url('../fonts/prebe-font.svg?c93yjq#prebe-font') format('svg');
  font-weight: normal;
  font-style: normal;
}

.prebe {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'prebe-font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.prebe-charlie-chaplin:before {
  content: "\e900";
}
.prebe-chef-hat:before {
  content: "\e901";
}
.prebe-clock:before {
  content: "\e902";
}
.prebe-coffee-machine:before {
  content: "\e903";
}
.prebe-cog:before {
  content: "\e904";
}
.prebe-computer-imac:before {
  content: "\e905";
}
.prebe-computer-network:before {
  content: "\e906";
}
.prebe-computer-pc:before {
  content: "\e907";
}
.prebe-computer-screen-1:before {
  content: "\e908";
}
.prebe-computer-screen-2:before {
  content: "\e909";
}
.prebe-contact-book:before {
  content: "\e90a";
}
.prebe-content-download:before {
  content: "\e90b";
}
.prebe-cooking-pot:before {
  content: "\e90c";
}
.prebe-crop:before {
  content: "\e90d";
}
.prebe-crown:before {
  content: "\e90e";
}
.prebe-designer-cup:before {
  content: "\e90f";
}
.prebe-diving-gear:before {
  content: "\e910";
}
.prebe-drink-cocktail:before {
  content: "\e911";
}
.prebe-drink-coffee:before {
  content: "\e912";
}
.prebe-e-mail:before {
  content: "\e913";
}
.prebe-envelope:before {
  content: "\e914";
}
.prebe-eyedropper:before {
  content: "\e915";
}
.prebe-fork-knife:before {
  content: "\e916";
}
.prebe-forklift:before {
  content: "\e917";
}
.prebe-fountain-pen-head-1:before {
  content: "\e918";
}
.prebe-fountain-pen-head-2:before {
  content: "\e919";
}
.prebe-gauge:before {
  content: "\e91a";
}
.prebe-globe:before {
  content: "\e91b";
}
.prebe-grid:before {
  content: "\e91c";
}
.prebe-griller:before {
  content: "\e91d";
}
.prebe-handbag:before {
  content: "\e91e";
}
.prebe-headphone:before {
  content: "\e91f";
}
.prebe-heart:before {
  content: "\e920";
}
.prebe-home:before {
  content: "\e921";
}
.prebe-hotdog:before {
  content: "\e922";
}
.prebe-icecream:before {
  content: "\e923";
}
.prebe-image:before {
  content: "\e924";
}
.prebe-iphone:before {
  content: "\e925";
}
.prebe-ipod:before {
  content: "\e926";
}
.prebe-layers:before {
  content: "\e927";
}
.prebe-layers-image:before {
  content: "\e928";
}
.prebe-link:before {
  content: "\e929";
}
.prebe-location-pin:before {
  content: "\e92a";
}
.prebe-location-user:before {
  content: "\e92b";
}
.prebe-lock-locked:before {
  content: "\e92c";
}
.prebe-lock-unlocked:before {
  content: "\e92d";
}
.prebe-magic-wand:before {
  content: "\e92e";
}
.prebe-magnet:before {
  content: "\e92f";
}
.prebe-microphone:before {
  content: "\e930";
}
.prebe-monocle:before {
  content: "\e931";
}
.prebe-mp3-player:before {
  content: "\e932";
}
.prebe-music-note:before {
  content: "\e933";
}
.prebe-notebook-1:before {
  content: "\e934";
}
.prebe-notebook-2:before {
  content: "\e935";
}
.prebe-paint-brush:before {
  content: "\e936";
}
.prebe-paint-bucket:before {
  content: "\e937";
}
.prebe-paint-palette:before {
  content: "\e938";
}
.prebe-paint-roller:before {
  content: "\e939";
}
.prebe-pencil-ruler:before {
  content: "\e93a";
}
.prebe-pen-fountain:before {
  content: "\e93b";
}
.prebe-pen-point-tip:before {
  content: "\e93c";
}
.prebe-picture-frame:before {
  content: "\e93d";
}
.prebe-quill-ink:before {
  content: "\e93e";
}
.prebe-refresh:before {
  content: "\e93f";
}
.prebe-remote-control-hand:before {
  content: "\e940";
}
.prebe-remote-control-screen:before {
  content: "\e941";
}
.prebe-script:before {
  content: "\e942";
}
.prebe-server:before {
  content: "\e943";
}
.prebe-settings:before {
  content: "\e944";
}
.prebe-shield-cross:before {
  content: "\e945";
}
.prebe-shopping-cart-add:before {
  content: "\e946";
}
.prebe-shopping-cart-remove:before {
  content: "\e947";
}
.prebe-skull:before {
  content: "\e948";
}
.prebe-smart-device:before {
  content: "\e949";
}
.prebe-smiley:before {
  content: "\e94a";
}
.prebe-sneakers:before {
  content: "\e94b";
}
.prebe-sofa:before {
  content: "\e94c";
}
.prebe-stamp:before {
  content: "\e94d";
}
.prebe-sub-woofer:before {
  content: "\e94e";
}
.prebe-syringe:before {
  content: "\e94f";
}
.prebe-target:before {
  content: "\e950";
}
.prebe-teapot:before {
  content: "\e951";
}
.prebe-trash-can:before {
  content: "\e952";
}
.prebe-umbrella:before {
  content: "\e953";
}
.prebe-user:before {
  content: "\e954";
}
.prebe-user-chat:before {
  content: "\e955";
}
.prebe-vector:before {
  content: "\e956";
}
.prebe-windows:before {
  content: "\e957";
}
.prebe-wrenches:before {
  content: "\e958";
}
.prebe-write:before {
  content: "\e959";
}
.prebe-backpack:before {
  content: "\e95a";
}
.prebe-bomb:before {
  content: "\e95b";
}
.prebe-book:before {
  content: "\e95c";
}
.prebe-briefcase:before {
  content: "\e95d";
}
.prebe-bubble-chat:before {
  content: "\e95e";
}
.prebe-bubble-heart:before {
  content: "\e95f";
}
.prebe-camera-photo:before {
  content: "\e960";
}
.prebe-camera-polaroid:before {
  content: "\e961";
}
.prebe-camera-video:before {
  content: "\e962";
}

